body{
	text-align: center;
	
	margin-top: 7%;

}
h3{
	font-size: 50px;
}
a{
	text-decoration: none;
}
input[type=text]{
width:200px;
height:50px;
font-size: 35px;
}
input[type=submit]{
width:200px;
height:50px;
font-size: 35px;
}
label{
	font-size: 35px;
}
#img1{
	float: left;
	margin-left: 30%;
}
#img2{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	float: right;
	margin-right: 30%;
}